table {
    min-width:600px;
    margin-top:1em;
}
thead{
    background-color:#bbd;
}
thead.weekHead tr:first-child th:first-child{
    -webkit-border-top-left-radius:5px;
}
thead.weekHead tr:first-child th:last-child{
    -webkit-border-top-right-radius:5px;
}
.month1, .month3, .month5, .month7, .month9, .month11 {
    background-color:#88a;
}
tbody {
    background-color:#fff;
    margin-bottom:10px;
}

thead tr:first-child {
    border-bottom:solid 1px black;
}

thead.weekHead tr:first-child th {
    padding-left:.6em;
    text-align:left;
    font-size:1.5em;
}

thead.weekHead tr:last-child {
    border-bottom:solid 1px black;
}

thead {
    margin-top:15px;
}

thead tr:first-child th {
    padding:.5em;
}

.projEven {
    background-color:#bbb;
}

.projOdd {
    background-color:#ccc;
}

tr.start_project {
    border-top:dotted 1px black;
}
td, th {
    padding:0 1em;
    text-align:left;
}
.highlight {
    background-color:yellow;
}
.hidden {
    display:none;
}

td.project_name, td.partner_name, td.volunteer_name {
    cursor:pointer;
}

.hasAssignments {
    cursor:pointer;
}

tr.projectSummary {
    background-color:#eee;
    border-bottom:dotted 1px #888;
}
tr.projectSummary:hover {
    background-color:lightblue;
}

.assignmentHeadings {
    border-top:solid 1px black;
}
.info {
    background-color:#ddf;
    border:solid 1px #aac;
    -webkit-border-radius:3px;
    display:table;
    padding:.5em 1em;
    margin: 1em 0em;
}

.info:before {
    content:"X";
    padding-right:1em;
    color:#aac;
    cursor:pointer;
}