<script type="text/javascript" src="/js/assignments.js"></script>

<div id="filter_controls">

<input type="button" value="clear" onclick="window.location='assignments'"/>
<label for="f_country">Country:</label>
<select name="country" id="f_country" class="filter">
<option value="-">-</option>
{% for country in v.countries %}
<option value="{{ country.country }}" {% ifequal country.country v.params.country %}selected="selected"{% endifequal %}>{{ country.country }}</option>
{% endfor %}
</select>
<label for="f_partner">Partner:</label>
<select name="partner" id="f_partner" class="filter">
<option value="-">-</option>
{% for partner in v.partners %}
<option value="{{ partner.key }}" {% ifequal partner.key|cut:" " v.params.partner|cut:" " %}selected="selected"{% endifequal %}>{{ partner.name }}</option>
{% endfor %}
</select>
<label for="f_project">Project:</label>
<select name="project" id="f_project" class="filter">
<option value="-">-</option>
{% for project in v.projects %}
<option value="{{ project.key }}" {% ifequal project.key|cut:" " v.params.project|cut:" " %}selected="selected"{% endifequal %} >{{ project.name }}</option>
{% endfor %}
</select>
<label for="f_site">Site:</label>
<select name="site" id="f_site" class="filter">
<option value="-">-</option>
{% for site in v.sites %}
<option value="{{ site.key }}"  {% ifequal site.key|cut:" " v.params.site|cut:" " %}selected="selected"{% endifequal %}>{{ site.name }}</option>
{% endfor %}
</select>
</div>
<br/><br/>
<div id="calendar">
  <table>
    {% for month in v.months %}
    <tbody class='monthrow'>
    <tr>
      <th colspan="9">{{ month.name }} - {{ month.year }}</th>
    </tr>
    </tbody>
    {% for week in month.weeks %}
    <tbody class="{% cycle even,odd as rowc %}">
    <tr class="weekDate">
      <th colspan="9">{{ week.week }}</th>
    </tr>
    <tr class="assignment_heading">
      <th>Project</th><th>Site</th><th>Capacity</th><th>Code</th><th>Volunteer</th><th>Start Date</th><th>End Date</th><th>Weeks Left</th><th>Partner</th>
    </tr>
    {% for a in week.assignments %}
    <tr class="assignment{% ifchanged a.project.name %} project_section{% endifchanged %}" id="{{ a.key }}">
   {% ifchanged a.site.name %}
       <td>{% ifchanged a.project.name %}{{ a.project.name }}{% endifchanged %}</td><td>{{ a.site.name }}</td>
      <td class="capacity_cell">{{ a.site.capacity }}</td>
      {% else %}
      <td colspan="3"></td>
    {% endifchanged %}
{% if a.volunteer %}
      <td class=" {% ifequal a.duration.days 6 %}singleweek{% else %}{% ifequal a.start_date_str week.strweek %}firstweek{% endifequal %}{% ifequal a.end_date_str week.strweek %}lastweek{% endifequal %}{% endifequal %}">{% ifequal a.duration.days 6 %}FL{% else %}{% ifequal a.start_date_str week.strweek %}F{% endifequal %}{% ifequal a.end_date_str week.strweek %}L{% endifequal %}{% endifequal %}</td>
      <td><a href="/volunteerForm?key={{ a.volunteer.key }}">{{ a.volunteer.lname }}, {{ a.volunteer.fname }}</a></td>
      <td class="date_cell">{{ a.start_date_str }}</td>
      <td class="date_cell">{{ a.end_date_str }}</td>
      <td >{{ a.weeks_remaining }}</td>
      <td>{{ a.volunteer.partner.name }}</td>
{% else %}
      <td colspan="5"></td>
{% endif %}
    </tr>
    

     {% endfor %}
    {% endfor %}
    </tbody>
   {% endfor %}
  </table>
</div>




		
