<!--<script type="text/javascript" src="/js/assignments.js"></script>-->

<script type="text/javascript">
alert("asdf");
function getWeeksRemaining(endDate,  currentDate) {
var one_day = 1000*60*60*24;
var endDate = endDate.getTime();
var currentDate = currentDate.getTime();

var diff = endDate - currentDate;

return Math.round(diff/one_day/7);

}

$(document).ready(function(){
$("tr.assignment").click(function(){
	assignment = $(this).attr('data-assignment');
	$('tr.assignment').each(function(){
	    $(this).removeClass('highlight');
	});
	$("[data-assignment="+assignment+"]").each(function(){
	    $(this).addClass('highlight');
	});
    });
});
</script>
<div id="filter_controls">
</div>
<br/><br/>
<style>
thead:nth-of-type(odd), tbody:nth-of-type(odd) {
  background-color:#ccc;
}

thead:nth-of-type(even), tbody:nth-of-type(even) {
  background-color:#eee;
}

thead tr+tr {
  border-bottom:solid 1px black;
}

thead tr:first-child th {
  padding-left:.6em;
  text-align:left;
  font-size:1.5em;
}

tr.start_project {
border-top:dotted 1px black;
}
td, th {
  padding:0 1em;
}
    .highlight {
	background-color:lightyellow;
    }

 </style>
<div id="calendar">
  <table>
    {% autoescape off %}
    {% for week, assignments in v.calendar %}
    <thead>
      <tr><th colspan="7">{{ week }}</th></tr>
      <tr>
	<th>project</th>
	<th>code</th>
	<th>volunteer</th>
	<th>start</th>
	<th>end</th>
	<th>remaining</th>
	<th>partner</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in assignments %}
      <tr data-assignment="{{ assignment.key }}" data-project="{{ assignment.project_name }}" data-partner="{{ assignment.partner_name }}" class="assignment{% ifchanged assignment.project_name %} start_project{% endifchanged %}">
	<td>{% ifchanged assignment.project_name %}{{ assignment.project_name }}{% else %}{% endifchanged %}</td>
	<td>
	  {% ifequal assignment.start_date.date week %}
	  F{% else %}
	  {% ifequal assignment.end_date.date week %}
	  L
	  {% endifequal %}
	  {% endifequal %}
	</td>
	<td>{{ assignment.volunteer_name }}</td>
	<td>{{ assignment.start_date.date }}</td>
	<td>{{ assignment.end_date.date }}</td>
	<td style="width:50px;text-align:center">
	  <script>
document.write(
    getWeeksRemaining(
	new Date({{ assignment.end_date.date.year }}, 
		 {{ assignment.end_date.date.month }}, 
		 {{ assignment.end_date.date.day }}), 
	new Date({{ week.year }}, 
		 {{ week.month }}, 
		 {{ week.day }})
    )
)
	  </script>
	</td>
	<td>{{ assignment.partner_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% endfor %}
    {% endautoescape %}
  </table>
</div>




		
