<!doctype html>
<html>
  <head>
    <title>FFA: {{ v.pageinfo.title }}</title>
    <meta charset="utf-8"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="js/jquery.tablesorter.widgets.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.23.custom.css"/>   
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  </head>
  <body>
    <div id="content">
      <div id="header">
	<h1>FFA: {{ v.pageinfo.title }}</h1>
      </div> 
     <div id="sidebar">
	<ul>
	  <li><a href="{{ v.logout_url }}">Logout</a></li>
	  <li>&nbsp;</li>
	  <li><a href="/assignments" accesskey="c">Calendar</a></li>
	  <li><a href="/partners" accesskey="r">Partners</a></li>
	  <li><a href="/projects" accesskey="j">Projects</a></li>
	  <li><a href="/volunteers?view=active" accesskey="v">Volunteers</a></li>
	  <li><a href="/invoices" accesskey="i">Invoices</a></li>
	  <li><a href="/dump">Dump</a></li>
	  <li><a href="/settings">Settings</a></li>
	</ul>
	<aside>If you find a bug or have a feature request, fill out the form you see <a href="https://code.google.com/p/ffadocuments/issues/entry?template=Defect%20report%20from%20user" target="_blank">here</a>.</aside>
      </div>
      <div id="main">
	{% include v.pageinfo.html %}
      </div>
      <div id="footer">

      </div>
    </div>
  </body>
</html>
