<div class="left">
<h2>{{ v.partner.name }}</h2>
<form action="partnerEdit" method="post">
  <input type="hidden" name="key" value="{{ v.partner.key }}">
  <table>
    <tr>
      <th><label for="name">Name</label></th><td><input type="text" class="first" name="name" id="name" value="{{ v.partner.name }}"></td>
    </tr>
    <tr>
      <th><label for="abbr">Abbr</label></th><td><input type="text" name="abbr" id="abbr" value="{{ v.partner.abbr }}"></td>
    </tr>
  </table>
  <label for="address">Address</label><br/>
  <textarea name="address" id="address">{{ v.partner.address }}</textarea><br/>
  <label for="comment">Comments</label><br/>
  <textarea name="comment" id="comment">{{ v.partner.comment }}</textarea><br/>
  <input type="submit" value="Save">
</form>
</div>
<div class="right">
<h2>Stats</h2>
Active Volunteers:
Active Projects:
</div>
<div id="invoiceList">
  <h2>Invoices</h2>
  <a href="/invoiceForm?key={{ v.partner.key }}">New Invoice</a>
<ol>
    {% for i in v.partner.invoices %}
    <li> <a href="/invoiceForm?ikey={{ i.key }}">View</a> | <a href="/pdf?ikey={{ i.key }}">PDF</a> | <a class="delete invoice" href="/invoiceDelete?ikey={{ i.key }}">Delete</a> Date: {{ i.date.date }} Partner: {{ i.partner.abbr }} # Projects: {{ i.akeys|length }}</li>
    {% endfor %}
  </ol>
</div>
