<a href="volunteerForm{% if v.partner %}?pkey={{ v.partner.key }}{% endif %}" accesskey="a">Add</a> | <a href="volunteers?view=all{% if v.key %}&key={{ v.key }}{% endif %}">Show All{% if v.key %} for {{ v.partner.name }}{% endif %}</a> | <a href="volunteers?view=active{% if v.key %}&key={{ v.key }}{% endif %}">Show Active{% if v.key %} for {{ v.partner.name }}{% endif %}</a>
<table id="volunteers" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th><th>Partner</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for volunteer in v.volunteers %}
    <tr>
      <td>{{ volunteer.lname }}, {{ volunteer.fname }}</td>
      <td>{{ volunteer.partner.abbr }}</td>
      <td><a href="volunteerForm?key={{ volunteer.key }}">Edit</a> | <a href='assignmentForm?vkey={{ volunteer.key }}'>Add Assignment</a> | <a class="delete volunteer" href="volunteerDelete?key={{ volunteer.key }}">Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>

